.App {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;

    background-image: url('/bg.webp');
    background-repeat: no-repeat;
    background-size: 110vw 110vh;
    background-position: -5vw -5vh;
    position: fixed;
    left: 0px;
    top: 0px;

    &_chelik_wrapper {
        cursor: pointer;
        pointer-events: all;

        img {
            pointer-events: none;
        }
    }

    &_video {
        position: fixed;
        top: 0px;
        left: 0px;
        transition: opacity 500ms;
        pointer-events: none;

        video {
            min-width: 100vw;
            min-height: 100vh;
        }
    }

    &_header {
        width: 100%;
        position: fixed;
        top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 45px;
        // padding-top: 60px;

        @media(max-height: 700px) {
            top: 30px;
        }

        &_el {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            pointer-events: all;

            img {
                width: 100%;
                cursor: pointer;
                transition: filter 300ms;

                // @media(max-width: 370px) {
                //     width: 60%;
                // }
            }

            &:hover {
                img {
                    filter: invert(.5);
                }
            }
        }
    }


    &_text {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 2;
        min-height: fit-content;

        &_wrapper {
            display: flex;
            width: 100%;
            position: fixed;
            top: 90vh;
            align-items: end;
            align-content: end;
            height: 0px;

            @media(max-width: 700px) {
                top: 80vh;
            }
        }


        &_el {
            font-family: 'Inter';
            font-weight: 900;
            font-size: 88px;
            line-height: 90px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-shadow: 0px 0px 10px #0008;

            @media(max-width: 600px) {
                font-size: 60px;
                line-height: 60px;
            }

            // @media(max-width: 400px) {
            //     font-size: 32px;
            //     line-height: 50px;
            // }
        }

        &_bottom {
            color: #F9D917;
        }
    }



    &_decor {
        width: 100% !important;
        align-items: flex-end !important;
        position: fixed !important;
        top: 105vh;

        @media(max-width: 700px) {
            top: 101vh;
        }

        img {
            height: 90vh;
            position: relative;

            @media(max-width: 700px) {
                height: 105vh;
            }
        }
    }
}